.mslider {
	display: none;
}

.mslider_trackbox {
	float: left;
	margin-top: 20px;
	margin-right: 10px;
}

.mslider_flashLink {
	position: relative;
}

.mslider_flashLink a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999em;
}